p Integrated Application Skeleton

div
  a(routerLink="/signup" routerLinkActive="active") Sign Up
div
  a(routerLink="/signin" routerLinkActive="active") Sign In
div
  a(routerLink="/signout" routerLinkActive="active") Sign Out
div
  a(routerLink="/multipart" routerLinkActive="active") Multipart
div
  a(routerLink="/ajax" routerLinkActive="active") AJAX
div
  a(routerLink="/websocket" routerLinkActive="active") WebSocket
